In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('types_and_annual_pax2.csv')
df.head()

,Code,Description,pax_1990,pax_1991,pax_1992,pax_1993,pax_1994,pax_1995,pax_1996,pax_1997,...,pax_2013,pax_2014,pax_2015,pax_2016,pax_2017,pax_2018,pax_2019,pax_2020,pax_2021,pax_2022
0,7,Aero Commander 200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Aero Macchi AL-60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,Aeronca 7-AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,Beech Bonanza 35A/C/D/E/G/H/J/K/S/V/ 36A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,933.0,943.0,517.0,640.0,571.0,487.0,511.0,134.0,22.0,NaN
4,20,Bellanca CH-300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Remove 'pax_' from the column names
new_column_names = {col: col.replace('pax_', '') for col in df.columns}

# Rename the columns in the DataFrame
df = df.rename(columns=new_column_names)

In [4]:
df.head()

,Code,Description,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,7,Aero Commander 200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Aero Macchi AL-60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,Aeronca 7-AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,Beech Bonanza 35A/C/D/E/G/H/J/K/S/V/ 36A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,933.0,943.0,517.0,640.0,571.0,487.0,511.0,134.0,22.0,NaN
4,20,Bellanca CH-300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Filter rows where 'Description' column contains the string '737'
filtered_df = df[df['Description'].str.contains('737')]

# Create a new DataFrame with the filtered rows
boeing_df = filtered_df.copy()

In [6]:
boeing_df

,Code,Description,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
248,612,Boeing 737-700/700LR/Max 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94179543.0,97411781.0,105102465.0,109746010.0,117821735.0,123591946.0,122193381.0,47338884.0,75085661.0,93612436.0
250,614,Boeing 737-800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94995.0,...,66989820.0,77427167.0,92190696.0,101205528.0,115419910.0,128159848.0,132846901.0,59564772.0,111052789.0,145398174.0
251,615,Boeing 737-5/600LR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,616,Boeing 737-500,1416259.0,4927516.0,10444046.0,13720947.0,18249605.0,20116703.0,19351706.0,21527869.0,...,3743214.0,3190735.0,2652307.0,1352174.0,2351.0,2914.0,1926.0,1927.0,857.0,1351.0
253,617,Boeing 737-400,5996722.0,8506964.0,9645313.0,11529530.0,13794167.0,13542970.0,14816167.0,15871490.0,...,8459023.0,5177096.0,3860648.0,2874136.0,1400415.0,210610.0,42177.0,124798.0,293165.0,191011.0
254,618,Boeing 737-300LR,NaN,NaN,290372.0,504282.0,462419.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,619,Boeing 737-300,56432274.0,58666232.0,58827415.0,65563568.0,82593405.0,91133897.0,96300739.0,101348333.0,...,25378116.0,25863009.0,24878778.0,20364725.0,11001071.0,11184.0,16665.0,91465.0,163600.0,145093.0
256,620,Boeing 737-100/200,50398565.0,48136649.0,46099426.0,44774686.0,51036182.0,50404601.0,49255626.0,44115543.0,...,3466.0,2442.0,5107.0,6296.0,4818.0,6323.0,6628.0,3154.0,1533.0,4768.0
257,621,Boeing 737-200C,4183816.0,4344816.0,4015859.0,3180433.0,3630993.0,4055992.0,3727616.0,2526155.0,...,0.0,0.0,0.0,108.0,0.0,0.0,NaN,NaN,NaN,NaN
269,633,Boeing 737-600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,634,Boeing 737-900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14347153.0,19769684.0,24310145.0,23850969.0,26411136.0,5876496.0,4024270.0,872999.0,1343756.0,3366586.0
353,737,Boeing 737 Max 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,838,Boeing B737 Max 800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3411032.0,1735021.0,853.0,9076202.0,13647138.0
396,839,Boeing B737 Max 900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,745252.0,326439.0,NaN,4667066.0,9961654.0
427,885,Boeing B737-Max10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,888,Boeing 737-900ER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4706724.0,10682602.0,20073676.0,25504670.0,51771769.0,60531218.0,21982120.0,43604763.0,53349249.0

In [7]:
# Reset the index and drop the old index
boeing_df = boeing_df.reset_index(drop=True)

In [8]:
boeing_df.columns

Index(['Code', 'Description', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')

In [9]:

# Assuming you have a DataFrame named boeing_df
# First, create the new DataFrame BAcount_df with the specified columns
BAcount_df = boeing_df[['Code', 'Description', '2022']].copy()

# Next, drop rows with NaN values in the '2022' column
BAcount_df = BAcount_df.dropna(subset=['2022'])

# Calculate the sum of '2022' values
total_2022 = BAcount_df['2022'].sum()

# Calculate the percentage for each row's value in the '2022' column
BAcount_df['percentage'] = (BAcount_df['2022'] / total_2022) * 100

# Reset the index of the DataFrame
BAcount_df.reset_index(drop=True, inplace=True)

BAcount_df

   Code                 Description         2022  percentage
0   612  Boeing 737-700/700LR/Max 7   93612436.0   29.283402
1   614              Boeing 737-800  145398174.0   45.482773
2   616              Boeing 737-500       1351.0    0.000423
3   617              Boeing 737-400     191011.0    0.059751
4   619              Boeing 737-300     145093.0    0.045387
5   620          Boeing 737-100/200       4768.0    0.001492
6   634              Boeing 737-900    3366586.0    1.053120
7   838         Boeing B737 Max 800   13647138.0    4.269034
8   839         Boeing B737 Max 900    9961654.0    3.116158
9   888            Boeing 737-900ER   53349249.0   16.688461

In [10]:
BAcount_df.to_excel('BAcount.xlsx', index=False)

In [11]:
# Create a regex pattern to match any of the strings
pattern = r'A318|A319|A320|A321'

# Filter the DataFrame to get rows with the desired strings in the 'Description' column
A320_df = df[df['Description'].str.contains(pattern, regex=True)]

# Display the filtered DataFrame
A320_df

,Code,Description,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
329,694,Airbus Industrie A320-100/200,1013040.0,3069473.0,6352634.0,8989030.0,13438598.0,14926262.0,15309186.0,17489675.0,...,67129036.0,70037489.0,73963802.0,78532900.0,81136760.0,81142267.0,85259496.0,35978915.0,60158975.0,76344110.0
333,698,Airbus Industrie A319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,721741.0,...,41200304.0,44649166.0,46254224.0,45186063.0,43713394.0,47408917.0,49878803.0,21771932.0,31556802.0,42414011.0
334,699,Airbus Industrie A321/Lr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17281163.0,22917237.0,32578649.0,45157125.0,58421713.0,71389154.0,82547365.0,36207451.0,69613098.0,87371360.0
341,719,Airbus Industrie A319-200n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,721,Airbus Industrie A321-200n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,126887.0,1481709.0,3111503.0,2642393.0,8508281.0,14262808.0
344,722,Airbus Industrie A320-200n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4372816.0,12783121.0,9708487.0,19062235.0,26162777.0

In [12]:
A320_df = A320_df.drop('Code', axis=1)
A320_df

,Description,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
329,Airbus Industrie A320-100/200,1013040.0,3069473.0,6352634.0,8989030.0,13438598.0,14926262.0,15309186.0,17489675.0,20229949.0,...,67129036.0,70037489.0,73963802.0,78532900.0,81136760.0,81142267.0,85259496.0,35978915.0,60158975.0,76344110.0
333,Airbus Industrie A319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,721741.0,5522547.0,...,41200304.0,44649166.0,46254224.0,45186063.0,43713394.0,47408917.0,49878803.0,21771932.0,31556802.0,42414011.0
334,Airbus Industrie A321/Lr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17281163.0,22917237.0,32578649.0,45157125.0,58421713.0,71389154.0,82547365.0,36207451.0,69613098.0,87371360.0
341,Airbus Industrie A319-200n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,Airbus Industrie A321-200n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,126887.0,1481709.0,3111503.0,2642393.0,8508281.0,14262808.0
344,Airbus Industrie A320-200n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4372816.0,12783121.0,9708487.0,19062235.0,26162777.0

In [13]:
A320_df = A320_df.reset_index(drop=True)

In [15]:
A320count_df = A320_df[['Description', '2022']].copy()

# Next, drop rows with NaN values in the '2022' column
A320count_df = A320count_df.dropna(subset=['2022'])

# Calculate the sum of '2022' values
sum_2022 = A320count_df['2022'].sum()

# Calculate the percentage for each row's value in the '2022' column
A320count_df['percentage'] = (A320count_df['2022'] / sum_2022) * 100

# Reset the index of the DataFrame
A320count_df.reset_index(drop=True, inplace=True)

A320count_df

                     Description        2022  percentage
0  Airbus Industrie A320-100/200  76344110.0   30.964324
1          Airbus Industrie A319  42414011.0   17.202652
2       Airbus Industrie A321/Lr  87371360.0   35.436854
3     Airbus Industrie A321-200n  14262808.0    5.784837
4     Airbus Industrie A320-200n  26162777.0   10.611332

In [16]:
A320count_df.to_excel('A320count.xlsx', index=False)