In [1]:
import pandas as pd
import os

In [2]:
df1 = pd.read_csv('types_and_annual_pax2.csv')
df1

,Code,Description,pax_1990,pax_1991,pax_1992,pax_1993,pax_1994,pax_1995,pax_1996,pax_1997,...,pax_2013,pax_2014,pax_2015,pax_2016,pax_2017,pax_2018,pax_2019,pax_2020,pax_2021,pax_2022
0,7,Aero Commander 200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Aero Macchi AL-60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,Aeronca 7-AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,Beech Bonanza 35A/C/D/E/G/H/J/K/S/V/ 36A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,933.0,943.0,517.0,640.0,571.0,487.0,511.0,134.0,22.0,NaN
4,20,Bellanca CH-300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,887,B787-800 Dreamliner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,228905.0,266173.0,426251.0,517727.0,459765.0,517601.0,909852.0,526984.0,1125826.0,718324.0
429,888,Boeing 737-900ER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4706724.0,10682602.0,20073676.0,25504670.0,51771769.0,60531218.0,21982120.0,43604763.0,53349249.0
430,889,B787-900 Dreamliner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12203.0,127467.0,239304.0,215140.0,431896.0,599413.0,508595.0,1451565.0,1423517.0
431,890,Antonov 225 (6 Engine),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432,999,Used for capturing expenses not attributed to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df1.dtypes

Code             int64
Description     object
1990           float64
1991           float64
1992           float64
1993           float64
1994           float64
1995           float64
1996           float64
1997           float64
1998           float64
1999           float64
dtype: object

In [3]:
# Melt the DataFrame to create a long-format DataFrame
melted_df = pd.melt(df1, id_vars=['Code', 'Description'], var_name='year', value_name='pax_count')

# Convert 'year' column to datetime dtype
melted_df['year'] = pd.to_datetime(melted_df['year'], format='%Y').dt.year

# Sort the melted DataFrame by 'year' and 'pax_count'
melted_df = melted_df.sort_values(['year', 'pax_count'], ascending=[True, False])

# Group by 'year' and get the top 10 values for each year
top_10_by_year = melted_df.groupby('year').head(10)

# Reset the index
pivot_df = top_10_by_year.reset_index(drop=True)

ValueError: time data 'pax_1990' does not match format '%Y' (match)

In [4]:
melted_df

,Code,Description,year,pax_count
0,7,Aero Commander 200,pax_1990,NaN
1,8,Aero Macchi AL-60,pax_1990,NaN
2,9,Aeronca 7-AC,pax_1990,NaN
3,10,Beech Bonanza 35A/C/D/E/G/H/J/K/S/V/ 36A,pax_1990,NaN
4,20,Bellanca CH-300,pax_1990,NaN
...,...,...,...,...
14284,887,B787-800 Dreamliner,pax_2022,718324.0
14285,888,Boeing 737-900ER,pax_2022,53349249.0
14286,889,B787-900 Dreamliner,pax_2022,1423517.0
14287,890,Antonov 225 (6 Engine),pax_2022,NaN
14288,999,Used for capturing expenses not attributed to ...,pax_2022,NaN

In [6]:
pivot_df.head(20)

    Code                                   Description  year   pax_count
0    715                           Boeing 727-200/231A  1990  94272153.0
1    655  McDonnell Douglas DC9 Super 80/MD81/82/83/88  1990  59948179.0
2    619                                Boeing 737-300  1990  56432274.0
3    620                            Boeing 737-100/200  1990  50398565.0
4    640                     McDonnell Douglas DC-9-30  1990  38933219.0
5    622                                Boeing 757-200  1990  25258696.0
6    730                    McDonnell Douglas DC-10-10  1990  19337292.0
7    760                     Lockheed L-1011-1/100/200  1990  11139255.0
8    710                                Boeing 727-100  1990  10262572.0
9    650                     McDonnell Douglas DC-9-50  1990   9986159.0
10   715                           Boeing 727-200/231A  1991  81248455.0
11   655  McDonnell Douglas DC9 Super 80/MD81/82/83/88  1991  65892234.0
12   619                                Boeing 737-300  1991  58666232.0
13   620                            Boeing 737-100/200  1991  48136649.0
14   640                     McDonnell Douglas DC-9-30  1991  31338382.0
15   622                                Boeing 757-200  1991  30293980.0
16   730                    McDonnell Douglas DC-10-10  1991  18779034.0
17   760                     Lockheed L-1011-1/100/200  1991  10157578.0
18   617                                Boeing 737-400  1991   8506964.0
19   650                     McDonnell Douglas DC-9-50  1991   7359075.0

In [9]:
# Drop the 'Code' column
pivot_df = pivot_df.drop('Code', axis=1)

# Rename the 'Description' column to 'description'
pivot_df = pivot_df.rename(columns={'Description': 'description'})

# Rearrange the columns
pivot_df = pivot_df[['year', 'description', 'pax_count']]

In [10]:
pivot_df.to_csv('top10nineties.csv', index=False)